/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2018, 8:41:30 PM
    Author     : Brandon
*/



body, html {
    height: 100%;
}

/*/////Image classes////////////////////////////////////////////////////////// */
.large{
    background-image: url("images/Picture1.png");
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.medium{
    margin: 0% auto;
    width: 50%;
    
}

/*//// Text Classes //////////////////////////////////////////////////////////*/

.largeText{
    font-family: verdana;
    font-size: 130%;
    color: black;
}
.mediumText{
    font-family: monospace;
    font-size: 120%;
    color: black;
    font-weight: bolder;
}

.FlashyText{
    font-family: verdana;
    font-size: 120%;
    color: black;
    font-weight: bolder;
}

/* WhoAmI Container//////////////////////////////////////////////////////////*/
.WhoAmI{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom,#f8f8f8,#e7e7e7);
    padding-top: 2%;
    padding-bottom: 2%;
}
.singleColumn{
    width: 100%;
    margin-top: 3%;
    text-align: center;
    
}

.WhoAmI span{
    font-size: 130%;
    font-family: georgia, serif;
        
}

/*/////Education Flex Container////////////////////////////////////////////////////////// */
#caption{
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%,-50%);
    font-family: cursive;
    font-weight: 700; 
    color: darkred;
    font-size: 200%;
    border-bottom: black;
    border-bottom-width: thick;
    
}

/* SectionContainers//////////////////////////////////////////////////////////*/
#Education, #Career, #Projects, #Connection{
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.SectionHeaders{
    width: 100%;
    /* margin-top: 0; */
    font-family: gotham normal;
    font-size: 180%;
    text-align: center;
}

.SectionHeaders span{
    border-bottom: black solid thick;
}


.columnOne, .columnTwo{
    width: 50%;
    margin: 2% 0 auto;
    text-align: center;
    color: silver;

}
/* Career Section//////////////////////////////////////////////////////////*/
.columnTwoCareers{
    width: 50%;
    margin: 2% 0 auto;
    text-align: left;
    color: silver;
}

.jobDescription{
    width: 50%;
    margin: 2% 0;
    text-align: left;
    color: silver;
}

.qoute{
    font-style: italic;
    text-shadow: 0 1px 0 #fff;
    font-size: 135%;
    color: #7a8fa3;
    font-weight: 500;
    line-height: 1.3;
    text-align: center;
    margin: 2%;
    width: 100%;
    
}


