/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2018, 10:58:50 AM
    Author     : Brandon
*/

div { outline: 1px solid red !important; }

body{
    background-color: gray;
}

#MEMS{
    
    display: flex;
    flex-wrap: wrap;
    margin: 0 10% 0% 10%;
    background-color: white;
}

.MEMSummary{
    flex:2;
    border-left: gray solid thin;
    padding: 0px 20px;
}

.SideBar{
    flex: .5;
    width: 25%;
    font-family: serif;
    
}

.SideBarOptions li{
    border-left: 4px solid rgb(204, 204, 204);
    margin: 3%;
    color: rgb(80, 80, 80);
    text-decoration: none solid rgb(80, 80, 80);
    margin: 0px 0px 5px;
    display: block;
    padding: 5px 10px 5px 5px;
}

.skillsList{
    list-style-image: url("https://seelio.com/img/icon_tags.png");
    display: compact ;
}

video{
    width: 100%;
}

.Images{
    width: 100%;
    margin: 5px 0px 0px 0px;
}

/*Subtitles*/
.caption {
    background-color: rgba(0,0,0,.7);
    color: #fff;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    text-align: left;
    font-size: 14px;
}
.caption span{
    float: right;
}

.hide-caption {
    right: 5px;
    top: 5px;
    font-size: 17px;
    cursor: pointer;
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40)
}